<!DOCTYPE html>
<html>
<head>
  <%= render "meta/dashboard_tags" %>
  <title>TheOddCircle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="dashboard-background"></div>
  <div class="container">
    <%= render "nav/dashboard_nav" %>
    <%= render "flash/flash_messages" %>
    <%= yield %>
  </div>
</body>
</html>
